In [1]:
import numpy as np            # Numerical operations
import pandas as pd           # Data manipulation and analysis
import matplotlib.pyplot as plt   # Data visualization
import seaborn as sns         # Enhanced data visualization

--------------------------------------------------------------------------------------------------------------------------------

# Importing Dataset

healthcare-dataset-stroke-data : [Kaggle](https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset)

--------------------------------------------------------------------------------------------------------------------------------

In [5]:
df = pd.read_csv("healthcare-dataset-stroke-data.csv")
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [15]:
print("Stroke dataset memiliki {} baris dan {} column".format(*df.shape))

Stroke dataset memiliki 5110 baris dan 12 column

--------------------------------------------------------------------------------------------------------------------------------
# EDA 

Exploratory Data Analysis

--------------------------------------------------------------------------------------------------------------------------------

In [6]:
df.sample(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
2725,40390,Female,12.0,0,0,No,children,Rural,150.03,28.2,never smoked,0
2753,58153,Female,18.0,0,0,No,Private,Urban,123.66,22.2,never smoked,0
3390,46797,Female,31.0,0,0,Yes,Private,Rural,75.82,29.1,never smoked,0
4810,37865,Male,53.0,0,0,Yes,Private,Urban,142.64,27.8,smokes,0
1832,23988,Female,45.0,0,0,Yes,Private,Rural,76.68,34.8,smokes,0
3504,10651,Male,54.0,1,0,Yes,Govt_job,Rural,100.12,32.3,formerly smoked,0
1475,51806,Male,31.0,0,0,Yes,Private,Rural,77.23,25.9,smokes,0
3505,69750,Female,77.0,0,0,Yes,Self-employed,Urban,151.23,24.9,never smoked,0
193,69112,Male,68.0,1,1,Yes,Private,Rural,271.74,31.1,smokes,1
2268,35085,Female,6.0,0,0,No,children,Rural,108.23,18.6,Unknown,0

In [7]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

#### Numerical Column 
    ['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi' 'stroke']
 
#### Categorical Column
    ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']

--------------------------------------------------------------------------------------------------------------------------------
# Data Visualization

--------------------------------------------------------------------------------------------------------------------------------