In [1]:
import numpy as np            # Numerical operations
import pandas as pd           # Data manipulation and analysis
import matplotlib.pyplot as plt   # Data visualization
import seaborn as sns         # Enhanced data visualization

--------------------------------------------------------------------------------------------------------------------------------

# Importing Dataset

healthcare-dataset-stroke-data : [Kaggle](https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset)

--------------------------------------------------------------------------------------------------------------------------------

In [2]:
df = pd.read_csv("healthcare-dataset-stroke-data.csv")
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [3]:
print("Stroke dataset memiliki {} baris dan {} column".format(*df.shape))

Stroke dataset memiliki 5110 baris dan 12 column

--------------------------------------------------------------------------------------------------------------------------------
# EDA 

Exploratory Data Analysis

--------------------------------------------------------------------------------------------------------------------------------

In [4]:
df.sample(10)

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
426,50305,Female,56.0,1,0,Yes,Private,Rural,205.26,40.3,never smoked,0
330,59368,Female,78.0,0,0,Yes,Private,Urban,243.50,26.1,never smoked,0
3431,448,Female,49.0,0,0,Yes,Private,Rural,107.55,NaN,Unknown,0
1583,69792,Female,37.0,0,0,Yes,Govt_job,Urban,65.29,32.9,never smoked,0
412,44749,Female,64.0,0,0,No,Govt_job,Rural,81.60,36.3,smokes,0
1335,28904,Female,75.0,0,0,Yes,Self-employed,Rural,74.79,32.4,never smoked,0
3427,55370,Female,53.0,0,0,Yes,Private,Urban,207.71,32.4,Unknown,0
747,58227,Female,64.0,0,0,Yes,Govt_job,Rural,62.41,30.0,never smoked,0
4884,50663,Female,62.0,0,0,Yes,Govt_job,Urban,110.84,23.4,smokes,0
3178,64597,Female,33.0,0,0,Yes,Private,Rural,73.20,28.9,Unknown,0

In [5]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

#### Numerical Column 
    ['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi' 'stroke']
 
#### Categorical Column
    ['gender', 'ever_married', 'work_type', 'Residence_type', 'smoking_status']
    
#### Unused Column
    ['id]

In [7]:
# Delete 'id' column

df.drop(['id'],
        axis=1,
        inplace = True)

In [8]:
df.sample(2)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
4409,Female,0.72,0,0,No,children,Rural,112.19,20.1,Unknown,0
3311,Female,2.00,0,0,No,children,Urban,114.02,18.1,Unknown,0

'Id' column deleted

In [10]:
duplicates_rows = df.duplicated().sum()

print("Number of Duplicate Rows:", duplicates_rows)

Number of Duplicate Rows: 0

This dataset has no duplicate row(s)

--------------------------------------------------------------------------------------------------------------------------------
# Data Visualization

--------------------------------------------------------------------------------------------------------------------------------